{# vim:set ts=4 sw=4 sts=0 fenc=utf-8:                  #}
{# $Id: _not_permitted.html 2 2018-02-21 06:33:40Z junichi $ #}
{% extends "_base.html" %}

{% block main %}

<div class="row" style="margin-top:4rem;">
    <div class="alert alert-danger mx-auto p-5 rounded text-center" >
        <h1>
            <i class="material-icons md-48">no_sim</i><br>
            不許可<br>
            <small >NOT PERMIT</small><br>
            <i class="material-icons md-48">pan_tool</i><br>
        </h1>
    </div>
</div>

{% end %}
