{# vim:set ts=4 sw=4 sts=0 fenc=utf-8:                  #}
{# $Id: _under_construction.html 2 2018-02-21 06:33:40Z junichi $ #}
{% extends "_base.html" %}

{% block main %}

<div class="row" style="margin-top:4rem;">
    <div class="alert alert-warning mx-auto p-5 rounded text-center" >
        <h1>
            <i class="material-icons md-48">warning</i><br>
            工事中<br>
            <small >UNDER CONSTRUCTION</small><br>
            <i class="material-icons md-48">build</i><br>
        </h1>
    </div>
</div>

{% end %}
