{# vim:set ts=4 sw=4 sts=0 fenc=utf-8:                  #}
{# $Id: _not_permitted.html 2 2018-02-21 06:33:40Z junichi $ #}
{% extends "_base.html" %}

{% block main %}
<hr>
<pre id="rcont">{{ cont }}</pre>
<hr>
<div id="wcont"></div>
<hr>
{% end %}

{% block script %}

'use strict';

const e = React.createElement;

class LikeButton extends React.Component
{
    constructor(props)
    {
        super(props);
        this.state = { liked: false };
    }

    render()
    {
        if (this.state.liked)
        {
            return 'You liked this.';
        }

        return e(
            'button',
            { onClick: () => this.setState({ liked: true }) },
            'Like'
        );
    }
}

const wcont = document.querySelector('#wcont');
const root = ReactDOM.createRoot(wcont);
root.render( e( LikeButton ) );

{% end %}
